/*
 * Copyright (c) 2021 Bosch Sensortec GmbH
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&arduino_spi {
	status = "okay";
	bmi270@0 {
		compatible = "bosch,bmi270","bosch,bmi270-base";
		reg = <0x0 >;
		spi-max-frequency = <1000000>;
		irq-gpios = <&gpio0 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
					<&gpio0 3 (GPIO_ACTIVE_LOW)>;
	};
	// cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
};

// / { aliases {
// 	intgpio0 = &interrupt_gpio0;
// 	intgpio1 = &interrupt_gpio1;
// };
// interrupt_gpios {
// 	compatible = "gpio-keys";
// 	interrupt_gpio0: interrupt_gpio_0 {
// 		gpios = <&gpio0 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
// 		label = "Interrupt GPIO 0";
// 	};
// 	interrupt_gpio1: interrupt_gpio_1 {
// 		gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
// 		label = "Interrupt GPIO 1";
// 	};
// };
// };
